In [2]:
import pandas as pd

In [17]:
csvpath = 'Resources/purchase_data.csv'
purchases_df = pd.read_csv(csvpath)
purchases_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [7]:
total_players = len(purchases_df['SN'].unique())
print(f'Total number of House of Pymoli players is {total_players}')

Total number of House of Pymoli players is 576

In [11]:
# Purchasing Analysis

total_items = len(purchases_df['Item ID'].unique())
print(total_items)

179

In [14]:
price_sum = purchases_df['Price'].sum()
average_purchase_price = price_sum/total_items
print(round(average_purchase_price, 2))

13.29

In [16]:
total_purchases = len(purchases_df)
print(total_purchases)

780

In [18]:
print(f'The total Revenue is {price_sum}')

The total Revenue is 2379.77

In [108]:
## Create new data frame for user info

user_info_df = purchases_df[['SN','Gender','Age']]

clean_user_df = user_info_df.drop_duplicates(keep='first')
print(clean_user_df)

genders = user_info_df['Gender'].unique()
print(genders)

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]
['Male' 'Other / Non-Disclosed' 'Female']

In [106]:
## Gender Demographics


female_players = clean_user_df.loc[clean_user_df['Gender']=='Female']
total_female = len(female_players)
percent_female = round((total_female/total_players)*100,1)
print(f'The number of female players is {total_female} or {percent_female}% of total players.')


male_players = clean_user_df.loc[clean_user_df['Gender']=='Male']
total_male = len(male_players)
percent_male = round((total_male/total_players)*100,1)
print(f'The number of female players is {total_male} or {percent_male}% of total players.')

other_players = clean_user_df.loc[clean_user_df['Gender']=='Other / Non-Disclosed']
total_other = len(other_players)
percent_other = round((total_other/total_players)*100,1)
print(f'The number of female players is {total_other} or {percent_other}% of total players.')

The number of female players is 81 or 14.1% of total players.
The number of female players is 484 or 84.0% of total players.
The number of female players is 11 or 1.9% of total players.

In [135]:
## Female total purchases

female_df = purchases_df.loc[purchases_df['Gender']=='Female']
female_count = female_df['Item ID'].count()
print(female_count)
male_df = purchases_df.loc[purchases_df['Gender']=='Male']
male_count = male_df['Item ID'].count()
print(male_count)
other_df = purchases_df.loc[purchases_df['Gender']=='Other / Non-Disclosed']
other_count = other_df['Item ID'].count()
print(other_count)

113
652
15

In [114]:
## Purchasing Analysis (Gender)


gender_group_df = purchases_df.groupby(['Gender']).sum()
print(gender_group_df)


female_total_price = round(gender_group_df.iloc[0,3],2)
print(female_total_price)
male_total_price = round(gender_group_df.iloc[1,3],2)
print(male_total_price)
other_total_price = round(gender_group_df.iloc[2,3],2)
print(other_total_price)

total_purchases = (female_total_price+male_total_price+other_total_price)
print(total_purchases)

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19
361.94
1967.64
50.19
2379.77

In [140]:
## Average Purchase Price 

female_ave_price = round(female_total_price/female_count,2)
print(female_ave_price)
male_ave_price = round(male_total_price/male_count,2)
print(male_ave_price)
other_ave_price = round(other_total_price/other_count,2)
print(other_ave_price)

3.2
3.02
3.35